In [62]:
import pandas as pd
import numpy as np

In [ ]:
# Carrega o arquivo CSV com os dados de saúde mental
saude_mental_base = pd.read_csv(r'C:\Users\kauea\OneDrive\Área de Trabalho\ERROR 404\Faculdade\Eletiva\Student_Mental_Health_Clean.csv')
saude_mental = saude_mental_base
saude_mental

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?,Sleep Hours,Exercise Frequency,Social Support
0,Female,18.0,Engineering,year 1,3.25,Yes,No,Yes,Yes,7.02069,1-2 times,Yes
1,Male,21.0,Islamic education,year 2,3.25,No,Yes,No,Yes,7.02069,1-2 times,Yes
2,Male,19.0,BIT,Year 1,3.25,No,Yes,Yes,Yes,7.02069,1-2 times,Yes
3,Female,22.0,Laws,year 3,3.25,Yes,No,No,Yes,7.02069,1-2 times,Yes
4,Male,23.0,Mathemathics,year 4,3.25,No,No,No,No,7.02069,1-2 times,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Male,19.0,IT,year 1,3.25,No,No,No,No,6.20000,3-5 times,Yes
996,Male,19.0,Business Administration,year 2,3.75,No,No,Yes,Yes,6.20000,1-2 times,Yes
997,Female,18.0,Engineering,year 1,2.75,No,Yes,No,Yes,9.90000,Everyday,Sometimes
998,Female,24.0,Econs,Year 3,3.75,Yes,Yes,Yes,Yes,5.90000,Never,Sometimes
999,Female,24.0,Islamic Education,Year 3,3.75,Yes,No,No,Yes,7.90000,3-5 times,Yes

In [ ]:
# Renomeia as colunas para nomes em português
saude_mental.rename(columns={
    "Timestamp": "data_hora",
    "Choose your gender": "genero",
    "Age": "idade",
    "What is your course?": "curso",
    "Your current year of Study": "ano_estudo",
    "What is your CGPA?": "rendimento_academico",
    "Marital status": "estado_civil",
    "Do you have Depression?": "tem_depressao",
    "Do you have Anxiety?": "tem_ansiedade",
    "Do you have Panic attack?": "tem_ataque_panico",
    "Did you seek any specialist for a treatment?": "procurou_especialista",
    "Sleep Hours": "horas_sono",
    "Exercise Frequency": "frequencia_exercicio",
    "Social Support": "suporte_social",
}, inplace=True)

In [ ]:
# Traduz valores binários (Yes/No) para Sim/Não
binarias = ["tem_depressao", "tem_ansiedade", "tem_ataque_panico", "procurou_especialista","suporte_social"]
for col in binarias:
    saude_mental[col] = saude_mental[col].map({"Yes": "Sim", "No": "Não"})

# Traduz gênero para português
saude_mental["genero"] = saude_mental["genero"].map({
    "Male": "Masculino",
    "Female": "Feminino"
})

# Padroniza o texto do ano de estudo
saude_mental["ano_estudo"] = saude_mental["ano_estudo"].str.lower().str.replace("year", "ano").str.strip()

# Traduz os nomes dos cursos para português
saude_mental["curso"] = saude_mental["curso"].replace({
    "Engineering": "Engenharia",
    "Engine": "Engenharia",
    "engin": "Engenharia",
    "Educação Islâmica": "Educação Islâmica",
    "Islamic Education": "Educação Islâmica",
    "Pendidikan Islam": "Educação Islâmica",
    "Pendidikan Islam ": "Educação Islâmica",
    "BIT": "Tecnologia da Informação",
    "IT": "Tecnologia da Informação",
    "CTS": "Tecnologia da Informação",
    "Direito": "Direito",
    "Law": "Direito",
    "Mathemathics": "Matemática",
    "Matemática": "Matemática",
    "Ciência da Computação": "Ciência da Computação",
    "Biomedical science": "Ciência Biomédica",
    "Ciência Biomédica": "Ciência Biomédica",
    "Human Resources": "Recursos Humanos",
    "Psychology": "Psicologia",
    "psychology": "Psicologia",
    "Human Sciences ": "Ciências Humanas",
    "Communication ": "Comunicação",
    "Radiography": "Radiologia",
    "Biotechnology": "Biotecnologia",
    "Marine science": "Ciências Marinhas",
    "Accounting ": "Contabilidade",
    "Banking Studies": "Estudos Bancários",
    "Business Administration": "Administração de Empresas",
    "Usuluddin ": "Teologia Islâmica (Usuluddin)",
    "Fiqh": "Jurisprudência Islâmica (Fiqh)",
    "Fiqh fatwa ": "Jurisprudência Islâmica (Fiqh)",
    "ALA": "Língua Árabe Avançada",
    "TAASL": "Ensino de Árabe como Segunda Língua",
    "BENL": "Língua Inglesa para Negócios",
    "Benl": "Língua Inglesa para Negócios",
    "ENM": "Economia e Negócios",
    "KOE": "Engenharia (Faculdade de Engenharia - KOE)",
    "Koe": "Engenharia (Faculdade de Engenharia - KOE)",
    "koe": "Engenharia (Faculdade de Engenharia - KOE)",
    "KIRKHS": "Ciências Humanas Islâmicas (KIRKHS)",
    "Kirkhs": "Ciências Humanas Islâmicas (KIRKHS)",
    "Irkhs": "Conhecimento e Civilização Islâmica (IRKHS)",
    "KENMS": "Economia e Ciências de Gestão (KENMS)",
    "MHSC": "Ciências da Saúde",
    "Malcom": "Comunicação Multimídia",
    "Kop": "Farmácia",
    "DIPLOMA TESL": "Diploma em Ensino de Inglês como Segunda Língua",
    "Diploma Nursing": "Técnico em Enfermagem"
})

# Traduz faixas de rendimento acadêmico
saude_mental["rendimento_academico"] = saude_mental["rendimento_academico"].replace({
    "3.00 - 3.49": "3,00 - 3,49",
    "3.50 - 4.00": "3,50 - 4,00"
})

# Traduz frequência de exercício para português
saude_mental["frequencia_exercicio"] = saude_mental["frequencia_exercicio"].replace({
    "Never": "Nunca",
    "1-2 times": "1 a 2 vezes",
    "3-4 times": "3 a 4 vezes",
    "5+ times": "5 ou mais vezes",
    "Everyday": "Diariamente"
})

In [ ]:
# Função para classificar a área do conhecimento com base no nome do curso
def classificar_area(curso):
    curso = str(curso).lower()

    if any(palavra in curso for palavra in ["engenharia", "matemática", "ciência da computação", "tecnologia", "informação", "estatística"]):
        return "Exatas"
    elif any(palavra in curso for palavra in ["psicologia", "direito", "ciências humanas", "educação", "administração", "contabilidade", "economia", "comunicação", "recursos humanos", "islâmica", "jurisprudência", "língua", "teologia", "negócios"]):
        return "Humanas"
    elif any(palavra in curso for palavra in ["biomédica", "biologia", "marinhas", "farmácia", "saúde", "nursing", "radiologia", "biotecnologia"]):
        return "Biológicas"
    else:
        return "Outros"

# Aplica a classificação ao DataFrame
saude_mental["area_conhecimento"] = saude_mental["curso"].apply(classificar_area)

saude_mental

,genero,idade,curso,ano_estudo,rendimento_academico,tem_depressao,tem_ansiedade,tem_ataque_panico,procurou_especialista,horas_sono,frequencia_exercicio,suporte_social,area_conhecimento
0,Feminino,18.0,Engenharia,ano 1,3.25,Sim,Não,Sim,Sim,7.02069,1 a 2 vezes,Sim,Exatas
1,Masculino,21.0,Islamic education,ano 2,3.25,Não,Sim,Não,Sim,7.02069,1 a 2 vezes,Sim,Outros
2,Masculino,19.0,Tecnologia da Informação,ano 1,3.25,Não,Sim,Sim,Sim,7.02069,1 a 2 vezes,Sim,Exatas
3,Feminino,22.0,Laws,ano 3,3.25,Sim,Não,Não,Sim,7.02069,1 a 2 vezes,Sim,Outros
4,Masculino,23.0,Matemática,ano 4,3.25,Não,Não,Não,Não,7.02069,1 a 2 vezes,Sim,Exatas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Masculino,19.0,Tecnologia da Informação,ano 1,3.25,Não,Não,Não,Não,6.20000,3-5 times,Sim,Exatas
996,Masculino,19.0,Administração de Empresas,ano 2,3.75,Não,Não,Sim,Sim,6.20000,1 a 2 vezes,Sim,Humanas
997,Feminino,18.0,Engenharia,ano 1,2.75,Não,Sim,Não,Sim,9.90000,Diariamente,NaN,Exatas
998,Feminino,24.0,Econs,ano 3,3.75,Sim,Sim,Sim,Sim,5.90000,Nunca,NaN,Outros
999,Feminino,24.0,Educação Islâmica,ano 3,3.75,Sim,Não,Não,Sim,7.90000,3-5 times,Sim,Humanas

In [ ]:
# Salva o DataFrame tratado em formato Parquet
saude_mental.to_parquet(r'C:\Users\kauea\OneDrive\Área de Trabalho\ERROR 404\Faculdade\Eletiva\saude_mental.parquet', index=False)